.button {
    padding: 16px 24px;
    font-size: 20px;
  background-color: transparent;
  border: 1px solid transparent;
  color: inherit;
  line-height: 1;
  border-radius: 30px;

  &:hover {
    cursor: pointer;
    background-color: $color-brand-action-1;
    border-color: $color-brand-action-1;
  }

  &.is-primary {
    background-color: $color-brand-1;
    border-color: $color-brand-1;
    color: $color-white;
    border-radius: 5px;
  }

  &.is-cancel {
    background-color: $color-4;
    border-color: $color-4;
    color: $color-text;
    border-radius: 5px;

    &:hover {
      background-color: $color-g-4;
      border-color: $color-g-4;
    }
  }

  &[disabled] {
    opacity: 0.6;
    &:hover {
      cursor: not-allowed;
    }
  }
}




table {
  width: 100%;
  border: 1px solid #e4e3e1;

  thead {
    tr {
      text-align: left;
      background-color: #e4e3e1;
    }
    th {
      font-family: 'IBM Plex Sans';
      font-weight: 700;
      font-size: 12px;
      line-height: 20px;
      padding: 6px;
    }
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }
  }
  .icon {
    width: 16px;
    height: 16px;
  }

  input[type='checkbox'] {
    width: 16px;
    height: 16px;
    accent-color: #313f57;
    border: 2px solid #313f57;
  }

  tbody {
    tr {
      background-color: #fff;
    }

    td {
      font-family: 'IBM Plex Sans';
      font-weight: 400;
      font-size: 12px;
      padding: 10px 8px !important;

     
    }

    tr:nth-child(even) {
      background-color: #f3f2ef;
    }

    tr:hover {
      background-color: #b5bcc2;
      cursor: pointer;
    }
  }
}

.table_icon {
  height: 20px;
}


.modal {
  @include full-abs;
  pointer-events: all;

  > .modal-body {
    position: relative;
    z-index: 2;
    overflow-y: auto;

    > .modal-close {
      text-decoration: none;
      position: absolute;
      top: 18px;
      right: 16px;
      font-size: 48px;
      line-height: 24px;
      font-family: monospace;
      color: inherit;
    }
  }

  > .modal-background {
    @include full-abs;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
  }
}

